.no-pad-left-right {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.row {
  width: 100%
}

body {
  background-color: #d7d3ce;
}

#headerCarousel {
  height: 480px;
}

row {
  z-index: 2
}

#headerCarousel img {
  filter: brightness(0.5);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-indicators li {
  width: 20px;
  height: 3px;
}

.carousel {
  z-index: 1;
}

div.container-fluid {
  position: absolute;
  color: white;
  z-index: 2;
  padding: 0;
  min-width: 1144px;
}

.logo {
  font-size: 42px;
  margin-top: 32px;
  text-align: center;
  font-weight: bold;
}

.red {
  color: rgb(255, 65, 65);
}

.col-md-6 .nav-btn {
  text-align: center;
}

.dropdown {
  margin-top: 32px;
  text-align: left;
}

.dropdown .nav-btn:last-child {
  margin-left: 60px;
}

.nav-btn {
  margin-top: 4px;
  color: rgba(255, 65, 65, 1);
  font-size: 7px;
  font-weight: bold;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0px;
  font-size: 12px;
  font-weight: bold;
  width: 70px;
}

.btn-secondary, .nav-btn {
  background-color: rgba(255, 49, 60, 0);
  border: none;
}

.nav-btn:hover {
  background-color: rgba(255, 65, 65, 1);
  border-color: rgba(255, 65, 65, 1);
  color: white;
  cursor: pointer;
}

.nav-btn:focus, .nav-btn:active:focus, .nav-btn.active:focus, #dropdownMenu2 {
  outline: none;
  box-shadow: none;
}

.btn-secondary:hover, .show>.btn-secondary.dropdown-toggle {
  background-color: rgba(255, 65, 65, 1);
  border: none;
  color: white;
  cursor: pointer;
}

.btn-sm {
  padding: 10px 1px;
}

.dropdown-item {
  padding: 0px;
  margin-top: 0px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
}

.dropdown-menu.show {
  padding-right: 10px;
  border-radius: 0px;
  min-width: 118px;
  line-height: 18px;
  padding-bottom: 23px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  width: 36px;
  height: 20px;
}

.search-col {
  margin-top: 32px;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: white;
}

.searchTerm:focus, .searchTerm:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-warning {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

input[type="text"], textarea {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

.search-btn {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-color: rgba(0, 0, 0, 0.8);
}

/*Resize the wrap to see the search bar change!*/

.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.title p {
  margin-top: 64px;
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
}

.trailer {
  text-align: center;
}

.btn-trailer {
  background-color: red;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0px;
  height: 50px;
  cursor: pointer;
}

.carousel-indicators li {
  margin-bottom: 40px;
}

.header-bot {
  background-color: red;
}

.header-bot p {
  margin: 12px;
  margin-left: 20px;
}

.btn-login {
  background-color: black;
  border: none;
  color: white;
  font-size: 12px;
  border-radius: 0px;
  width: auto;
  height: auto;
  margin-bottom: 3px;
  cursor: pointer;
}

.films {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  height: 300px;
  width: 70%;
  border: 1px solid grey;
  border-radius: 2px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 40px;
}

.films-filtre img, .films img {
  height: 220px;
  width: 150px;
}

figcaption {
  color: black;
  text-align: center
}

.left {
  float: left;
}

.right {
  float: right;
}

.featured {
  height: 45px;
  width: 100%;
}

.featured h1 {
  color: black;
  font-size: 16px;
  margin-left: 60px;
  border-left: rgba(255, 65, 65, 1) solid 2px;
}

.filtre {
  margin-left: 180px;
  height: 96px;
}

.films-filtre {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  height: auto;
  width: 100%;
  border-radius: 2px;
  align-content: center;
  flex-wrap: wrap;
}

.more {
  width: 150px;
  margin-bottom: 20px !important;
}

/***** Modal *****/

.modal-backdrop.in {
  filter: alpha(opacity=7);
  opacity: 0.7;
}

.modal-content {
  background: none;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-body {
  padding: 0 25px 25px 25px;
}

.modal-header {
  padding: 25px 25px 15px 25px;
  text-align: right;
}

.modal-header, .modal-footer {
  border: 0;
}

.modal-header .close {
  float: none;
  margin: 0;
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
}

footer {
  background-color: #0D0D0D;
}

.flex1 {
  display: flex;
}

.col20 {
  width: 20%;
  padding: 10px;
}

.col100 {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.footSubscribe {
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
}

.form-subscribe {
  width: 300px;
  height: 30px;
  padding: 1px;
  padding-left: 5px;
  margin-right: 3px;
  box-sizing: border-box;
}

.form-subscribe[type="text"], textarea {
  border-radius: 0px;
  background-color: white;
}

.btn-subscribe {
  margin-top: -5px;
  background-color: rgb(255, 55, 55);
  border: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0px;
  height: 30px;
  cursor: pointer;
}

.footTitre, .footTexte, .footConnectUs {
  font-family: arial;
  font-weight: bold;
  text-transform: uppercase;
}

.footTitre {
  font-size: 14px;
  color: #bebebe;
}

.footTexte {
  font-size: 12px;
  color: #4a4a4a;
}

.footLigne {
  height: 1px;
  color: #292929;
  background-color: #292929;
  border: none;
}

.footBadge {
  background-color: #292929;
  margin-right: -1px;
  margin-bottom: 1px;
  padding: 2px;
  font-family: arial;
  font-size: 10px;
  font-weight: bold;
  color: #a4a4a4;
}

.footLatest {
  font-family: arial;
  font-size: 12px;
  color: #4a4a4a;
}

.footLatestImg {
  width: 40%;
  height: auto;
  vertical-align: middle;
  /* float:right;  */
  margin-right: 5px;
  margin-bottom: -10px;
}

.footLogo {
  margin-top: -3px;
  margin-bottom: -3px;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
}

.footAllezImg {
  width: 30%;
  height: auto;
  margin-bottom: -3px;
}

.footConnectUs {
  text-align: center;
  font-size: 16px;
  color: #a4a4a4;
}

.footRs {
  width: 28px;
  height: 28px;
  /* padding-top: 2px; */
  padding: 2px;
  display: inline-block;
  border: 1px solid #a4a4a4;
  border-radius: 2px;
  text-align: center;
  color: #a4a4a4;
}

.fa, .fa a {
  color: #a4a4a4;
}

a#cRetour {
  width: 45px;
  height: 45px;
  border: 3px solid rgb(255, 65, 65);
  border-radius: 50%;
  background-image: url(../img/arrow-top.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  right: 20px;
  opacity: 1;
  z-index: 99999;
  transition: all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}

a#cRetour:hover {
  background-image: url(../img/arrow-top.png);
  border: 3px solid rgb(168, 168, 168);
  height: 50px;
}

a#cRetour.cInvisible {
  bottom: -35px;
  opacity: 0;
  transition: all ease-in 0.5s;
}

a#cRetour.cVisible {
  bottom: 20px;
  opacity: 1;
}